.like-button_active {
    width: 22px;
    height: 19px;
    background: url("../../../../../images/union.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid red;
}