@import url('./logo/logo.css');
.header {
    height: 74px;
    border-bottom: 1px solid #545454;
    margin-bottom: 40px;
}

@media screen and (min-width: 320px) and (max-width: 829px) {
    .header {
        height: 56px;
        margin-bottom: 38px;
    }
}