.edit-popup__title {
    margin-bottom: 54px;
}
@media screen and (max-width: 829px) {
    .edit-popup__title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 75px;
    }
}