@import url('./__avatar/profile__avatar.css');
@import url('./__info/profile__info.css');
@import url('./__info-text/profile__info-text.css');
@import url('./__info-title/profile__info-title.css');
@import url('./__info-subtitle/profile__info-subtitle.css');
@import url('./edit-button/edit-button.css');
@import url('./add-button/add-button.css');
.profile {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
}

@media screen and (min-width: 320px) and (max-width: 1258px){
    .profile {
        min-height: 286px;
        flex-direction: column;
        margin-bottom: 35px;
        justify-content: space-between;
    }
}