.edit-popup__close {
    position: fixed;
    top: -40px;
    right: -40px;
    background: url("../../../images/close-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
}
@media screen and (max-width: 829px) {
    .edit-popup__close {
        position: fixed;
        top: -40px;
        right: 0;
        width: 20px;
        height: 20px;
    }
}