.profile__info-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
}
@media screen and (max-width: 1259px) {
    .profile__info-subtitle {
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 829px){
    .profile__info-subtitle {
        font-size: 14px;
        line-height: 17px;
    }
}