.add-button {
    width: 150px;
    height: 50px;
    background: url("../../../../images/add_button.svg");
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-right: 0;
}

@media screen and (max-width: 1258px) {
    .add-button {
        margin: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 829px) {
    .add-button {
        width: 282px;
        background: url("../../../../images/plus.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid white;
        border-radius: 2px;
    }
}