@import url('./card/card.css');
.cards {
    display: grid;
    max-width: 880px;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 17px 17px;
    margin: 0 auto;
}

@media screen and (max-width: 1259px) {
    .cards {
        max-width: 582px;
    }
}